@charset "UTF-8";

* {
	font-family: "ヒラギノ角ゴ ProN";
}



header {
	height: 97px;
	border-bottom: 3px solid #68CE2E;
	display: flex;
	justify-content: space-between;	
	margin: 0 auto;
}

.logo {
	height: 60px;
	width: 250px;
	margin-top: 17px;
	margin-left: 150px;
}

nav {
	margin-right: 100px;
}

nav ul {
	display: flex;
	padding-top: 20px;
}

nav ul li {
	padding-top: 14px;
	padding-right: 57px;
}

nav ul li a {
	font-size: 14px;
	line-height: 20px;
	color: #333;
	font-weight: 700;
}

.main-image {
	/* height: 344px; */
	position: relative;
}

.top1 {
	width: 100%;
	background-size: cover;
}

.main-image  h2 {
	font-size: 32px;
	line-height: 45px;
	color: #3f3f3f;
	font-weight: 700;
}

.main-image  p {
	font-size: 20px;
	color: #3f3f3f;
	font-weight: 400;
	margin-top: 17px;
}

.text {
	position: absolute;
	top: 160px;
	left: 150px;
}

.info-bar {
	height: 50px;
	background-color: #68CE2E;
}

.info-bar p {
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	padding-top: 15px;
}

.course {
	height: 350px;
	background-color: #ddf1c4;
	display: flex;
	justify-content: center;
}

.test, .traning {
	width: 539px;
	height: 230px;
	background-color: #fff;
	text-align: center;
	margin-top: 64px;
	padding: 15px;
}

.test h2, .traning h2 {
	font-size: 32px;
	line-height: 45px;
	font-weight: 700;
}

.test p , .traning p {
	font-size: 16px;
	line-height: 27px;
	padding: 15px;
}

.test p span, .traning p span{
	font-weight: 700;
}

.test h2 {
	color: #68ce2e;
}

.traning {
	margin-left: 32px;
}

.traning h2 {
	color: #3e59b0;
}

.button {
	background-color: #68CE2E;
	color: #fff;
	font-size: 16px;
	line-height: 45px;
	font-weight: 400;
	display: inline-block;
	border-radius: 7px;
	height: 45px;
	width: 265px;
}

.recruit {
	background: linear-gradient();
	height: 483px;
	background-color: thistle;
	text-align: center;

	/* ドット生成ツールを使用 https://webparts.cman.jp/box/dot/ */
  background-color   : #ffffff;
  background-image   : radial-gradient(#b0f039 7%, transparent 10%),
                       radial-gradient(#c2f563 7%, transparent 10%);
  background-position: 0 0, 5px 5px;
  background-size    : 14px 14px;
}

.recruit h2 {
	color: #333;
	font-size: 29px;
	line-height: 40px;
	font-weight: 700;
	padding-top: 50px;
}

.text{
	margin-top: 30px;
}

.wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.kashiwa, .tsudanuma {
	border: 1px solid rgb(202, 202, 202);
	margin-top: 30px;
	height: 70px;
	width: 1100px;
	background-color: #fff;
}

.kashiwa p, .tsudanuma p {
	text-align: left;
	padding: 9.6px 0 0 20px;
}


.kashiwa span, .tsudanuma span {
	color: #68ce2e;
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
}





.recruit a {
	margin-top: 30px;
	display: inline-block;
}

